#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($album = $ctx.prev.result)
#set ($followedStatus = $ctx.result.followStatus)

$util.qr($album.ownedBy.put('followedStatus', $followedStatus))
$util.toJson($album)
