{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
      "field": "Album.url1080p",
      "identity": $util.toJson($ctx.identity),
      "arguments": $util.toJson($ctx.args),
      "source": $util.toJson($ctx.source)
    }
}
