#set ($album = $ctx.prev.result)

#if ($util.isNull($album))
  #return
#end

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": { "S": "user/$album.ownedByUserId" },
    "sortKey": { "S": "profile" }
  }
}
