#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if ($ctx.result.followStatus == 'FOLLOWING')
  #return
#end

$util.error('Caller is not following user, and user is private')
