#if ($ctx.error)
  ## server error
  $util.error($ctx.error.message, 'ServerError')
#end

#if ($ctx.result.error)
  ## client error
  $util.error(
    $ctx.result.error.message,
    'ClientError',
    $ctx.result.error.data,
    $ctx.result.error.info
  )
#end

$util.toJson($ctx.result.success)
