{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
      "arguments": $util.toJson($ctx.args),
      "field": "${ctx.info.parentTypeName}.${ctx.info.fieldName}",
      "headers": $util.toJson($ctx.request.headers),
      "identity": $util.toJson($ctx.identity),
      "source": $util.toJson($ctx.source)
    }
}
