#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## is verficationDisabled on the post?
#set ($verificationHidden = $util.defaultIfNull($ctx.result.verificationHidden, false))

#if ($verificationHidden)
  #set ($result = true)
#else
  #set ($result = $util.defaultIfNull($ctx.source.isVerified, false))
#end

$util.toJson($result)
