{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
      "field": "Mutation.archivePost",
      "identity": $util.toJson($ctx.identity),
      "arguments": $util.toJson($ctx.args)
    }
}
