#if (! $util.isNull($ctx.source.mediaObjects))
  #return ($ctx.source.mediaObjects)
#end

{
  "version": "2018-05-29",
  "operation": "Query",
  "query": {
    "expression": "gsiA1PartitionKey = :pk",
    "expressionValues": {
      ":pk": { "S": "media/$ctx.source.postId" }
    }
  },
  "index": "GSI-A1"
}
