#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($callerUserId = $ctx.identity.cognitoIdentityId)
#set ($post = $ctx.result)

## posts that are not in COMPLETED state are only visible to post owner
#if ($post.postStatus != 'COMPLETED' and $post.postedByUserId != $callerUserId)
  #return
#end

$util.toJson($post)
