#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($post = $ctx.prev.result)
#set ($blockerAt = $ctx.result.blockedAt)  ## perspectives swap
#if ($util.isNull($ctx.result))
  #set ($blockerStatus = 'NOT_BLOCKING')
#else
  #set ($blockerStatus = 'BLOCKING')
#end

$util.qr($post.postedBy.put('blockerAt', $blockerAt))
$util.qr($post.postedBy.put('blockerStatus', $blockerStatus))
$util.toJson($post)
