#if (! $util.isNull($ctx.source.flagStatus))
  #return ($ctx.source.flagStatus)
#end

{
    "version": "2018-05-29",
    "operation": "GetItem",
    "key": {
        "partitionKey": { "S": "flag/$ctx.identity.cognitoIdentityId/$ctx.source.postId" },
        "sortKey": { "S": "-" }
    }
}
