#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($result = $ctx.prev.result)
#foreach ($item in $ctx.result.data.${table})
  #if (! $util.isNull($item))
    #set ($index = $ctx.stash.pkToIndex[$item.partitionKey])
    #set ($result.items[$index] = $item)
  #end
#end

$util.toJson($result)
