## a mixed array of either user ids (strings) or user objects (maps)
#set ($users = [])

#foreach ($post in $ctx.prev.result)
  #if (! $util.isNull($post.postedBy))
    $util.qr($users.add($post.postedBy))
  #else
    $util.qr($users.add($post.postedByUserId))
  #end
#end

## next steps of this pipeline fill in Post.postedBy
#set ($ctx.stash.posts = $ctx.prev.result)

{
  "version": "2018-05-29",
  "payload": $util.toJson($users)
}
