#set ($callerUserId = $ctx.identity.cognitoIdentityId)
#set ($user = $ctx.prev.result)

#if ($util.isNull($user))
  #return
#end

#if ($callerUserId == $user.userId)
  $util.qr($user.put('blockerAt', null))
  $util.qr($user.put('blockerStatus', 'SELF'))
  #return ($user)
#end

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": { "S": "block/$user.userId/$callerUserId" },
    "sortKey": { "S": "-" }
  }
}
