#set ($count = $util.defaultIfNull($ctx.source.postViewedByCount, 0))

## If caller is blocked by target, hide postViewedByCount
#if ($ctx.source.blockerStatus == 'BLOCKING')
  #return
#end

## if viewCountsHidden is set, hide the postViewedByCount
#if ($util.defaultIfNull($ctx.source.viewCountsHidden, false))
  #set ($count = $util.toJson(null))
#end

{
  "version": "2018-05-29",
  "payload": $count,
}
