#if ($ctx.source.userId == $ctx.identity.cognitoIdentityId)
    #return ('SELF')
#end

#if (! $util.isNull($ctx.source.followedStatus))
  #return ($ctx.source.followedStatus)
#end

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": {"S": "following/$ctx.identity.cognitoIdentityId/$ctx.source.userId"},
    "sortKey": {"S": "-"}
  }
}
