#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#foreach ($item in $ctx.result.data.${table})
  #if (! $util.isNull($item))
    #set ($indexes = $ctx.stash.pkToIndex[$item.partitionKey])
    #foreach ($index in $indexes)
      $util.qr($ctx.prev.result.items[$index].put('followedStatus', $item.followStatus))
    #end
  #end
#end

$util.toJson($ctx.prev.result)
