#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($users = [])
#foreach ($item in $ctx.result.items)
  $util.qr($users.add({'userId': $item.followerUserId}))
#end

$util.toJson({
  'nextToken': $ctx.result.nextToken,
  'items': $users
})
