#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## build a map from userId to user object
#set ($userIdToUser = {})
#foreach ($user in $ctx.prev.result.items)
  $util.qr($userIdToUser.put($user.userId, $user))
#end

#set ($result = [])
#foreach ($textTag in $ctx.source.textTags)
  $util.qr($result.add({
    'tag': $textTag.tag,
    'user': $userIdToUser[$textTag.userId]
  }))
#end

$util.toJson($result)
