#if ($util.isNull($ctx.source.textTags) or $ctx.source.textTags.isEmpty())
  #return ([])
#end

#set ($users = [])
#foreach ($textTag in $ctx.source.textTags)
  $util.qr($users.add({'userId': $textTag.userId}))
#end

$util.toJson($users)
