#if ($util.isNull($ctx.source.textTags) or $ctx.source.textTags.isEmpty())
  #return ([])
#end

#set ($resultItems = [])
#foreach ($textTag in $ctx.source.textTags)
  $util.qr($resultItems.add({'userId': $textTag.userId}))
#end

$util.toJson({
  'nextToken': null,
  'items': $resultItems
})
