#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## Since this is private to the user themselves, every user in this list
## must be following the target user (and thus also not blocking target user)
#foreach ($user in $ctx.prev.result.items)
  $util.qr($user.put('blockerStatus', 'NOT_BLOCKING'))
  $util.qr($user.put('followedStatus', 'FOLLOWING'))
#end

$util.toJson($ctx.prev.result)
