#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($resultItems = [])
#foreach ($item in $ctx.result.items)
  #set ($userId = $item.partitionKey.split("/")[1])
  $util.qr($resultItems.add({'userId': $userId}))
#end

$util.toJson({
  'nextToken': $ctx.result.nextToken,
  'items': $resultItems
})
