#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if ($ctx.prev.result.items.isEmpty())
  $util.error('User does not exist')
#end

#set ($user = $ctx.prev.result.items[0])
$util.qr($user.put('blockedStatus', 'SELF'))
$util.qr($user.put('blockerStatus', 'SELF'))
$util.qr($user.put('followedStatus', 'SELF'))
$util.qr($user.put('followerStatus', 'SELF'))

$util.toJson($user)
