#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($resultItems = [])
#foreach ($item in $ctx.result.items)
  $util.qr($resultItems.add({'userId': $item.userId}))
#end

$util.qr($ctx.stash.put('comments', $ctx.result.items))

$util.toJson({
  'nextToken': $ctx.result.nextToken,
  'items': $resultItems
})
