#if (! $util.isNull($ctx.stash.accessGranted))
  #return ({})
#end

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": {"S": "following/$ctx.identity.cognitoIdentityId/$ctx.stash.userId"},
    "sortKey": {"S": "-"}
  }
}
