## if we are looking at ourselves, access is granted
#if ($ctx.stash.userId == $ctx.identity.cognitoIdentityId)
  $util.qr($ctx.stash.put('accessGranted', true))
#end

#if (! $util.isNull($ctx.stash.accessGranted))
  #return ({})
#end

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "partitionKey": { "S": "block/$ctx.stash.userId/$ctx.identity.cognitoIdentityId" },
    "sortKey": { "S": "-" }
  }
}
