#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## are we a follower?
#if (! $util.isNull($ctx.result) and $ctx.result.followStatus == 'FOLLOWING')
  $util.qr($ctx.stash.put('accessGranted', true))
#else
  $util.qr($ctx.stash.put('accessGranted', false))
#end

{}
