#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## if the user was filtered out, hide the album
#if ($ctx.prev.result.isEmpty())
  #return
#end
#set ($user = $ctx.prev.result[0])

#set ($album = $ctx.stash.album)
$util.qr($album.put('ownedBy', $user))

$util.toJson($album)
