#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#set ($album = $ctx.result)
#set ($users = [])

#if (! $util.isNull($album))
  $util.qr($users.add({'userId': $album.ownedByUserId}))
#end

#set ($ctx.stash.album = $album)
$util.toJson($users)
