#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## Note: trying to #set() a variable to a computed null value
##       doesn't work. Avoid: #set($item = arrayWithNulls[$index])

$util.toJson($ctx.stash.posts)
