#set ($callerUserId = $ctx.identity.cognitoIdentityId)
#set ($isVerified = $ctx.args.isVerified)
#set ($ctx.stash.posts = $ctx.prev.result)

## if we're filtering on isVerified, do that now
#if (!$util.isNull($isVerified))
  #set ($posts = [])
  #foreach ($post in $ctx.stash.posts)
    #if ($post.isVerified == $isVerified)
      $util.qr($posts.add($post))
    #end
  #end
  #set ($ctx.stash.posts = $posts)
#end

#return ($ctx.stash.posts)
