## System messages do not have a userId defined
## To get them to pass through the Users pipeline,
## we give them a 'system' identity to get them through

#foreach ($item in $ctx.prev.result)
  #if ($util.isNull($item['userId']))
    $util.qr($item.put('userId', 'system'))
    $util.qr($item.put('author', {
      'userId': 'system',
      'blockerStatus': 'SYSTEM',
      'followedStatus': 'SYSTEM'
    }))
  #end
#end

{
  "version": "2018-05-29",
  "payload": $util.toJson($ctx.prev.result)
}
