#set ($total = 0)
#if (!$util.isNull($ctx.args.emails))
  #set ($total = $total + $ctx.args.emails.size())
#end
#if (!$util.isNull($ctx.args.phoneNumbers))
  #set ($total = $total + $ctx.args.phoneNumbers.size())
#end
#if ($total > 100)
  $util.error('Cannot submit more than 100 combined emails and phoneNumbers', 'ClientError')
#end

## begin with an empty list of userIds
[]
