#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

$util.qr($ctx.stash.put('post', $ctx.result))

#if (! $util.isNull($ctx.result))
  $util.qr($ctx.stash.put('userId', $ctx.result.postedByUserId))
#else
  $util.qr($ctx.stash.put('accessGranted', true))  ## access granted to the empty result
#end

{}
