#if ($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if (! $ctx.stash.accessGranted)
  $util.error('Access denied')
#end

$util.qr($ctx.stash.post.put('postedBy', $ctx.prev.result))
$util.toJson($ctx.stash.post)
