$util.qr($ctx.stash.put('mediaStatus', $util.defaultIfNull($ctx.args.mediaStatus, 'UPLOADED')))
$util.qr($ctx.stash.put('mediaType', $util.defaultIfNull($ctx.args.mediaType, 'IMAGE')))
$util.qr($ctx.stash.put('userId', $util.defaultIfNull($ctx.args.userId, $ctx.identity.cognitoIdentityId)))

{}
